<% if notice %>
	<div class="alert alert-warning" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p><%= flash[:notice] %></p>
	</div>
<% end %>
<div class="jumbotron">
	<h1>Omniwiki</h1>
	<h3>We have all the wikis!</h3>
</div>
<div class="container">
	<div class="media-heading">
		<h4><strong>A Random Wiki</strong></h4>
	</div>
	<hr>
	<div class="wiki-title">
		<h3><%= Faker::Hobbit.location %></h3>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<blockquote class="blockquote mb-0">
				<p><%= Faker::BackToTheFuture.quote %></p>
				<footer class="blockquote-footer text-dark">Someone famous</footer>
    	</blockquote>
		</div>
	</div>
	<div class="row">
	<div class="col-md-8">
		<p><%= Faker::Lorem.paragraph([rand(50), rand(100)], false) %></p>
	</div>
</div>