<% if notice %>
	<div class="alert alert-warning" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p><%= flash[:notice] %></p>
	</div>
<% end %>
<div class="jumbotron">
	<h1>Omniwiki</h1>
	<h3>We have all the wikis!</h3>
</div>
<div class="container">
	<div class="media-heading">
		<h4><strong>Todays Random Wiki</strong></h4>
	</div>
</div>