<h1>Edit Your Wiki</h1>
<div class="row">
	<div class="col-md-4">
		<p>Bacon ipsum dolor amet esse commodo jerky excepteur adipisicing ad. Est pork swine strip steak.<p>
		<ul>
			<li>Jowl non fatback leberkas nostrud.</li>
			<li>Flank shankle spare ribs in in nisi.</li>
			</li>Tenderloin in dolore consectetur id t-bone ullamco veniam.</li>
		</ul>
	</div>
	<div class="col-md-8">
		<%= render partial: 'form', locals: { topic: @wiki.topic, wiki: @wiki } %>
	</div>
</div>
