<h1>New Wiki Entry</h1>
<div class="row">
	<div class="col-md-4">
		<p>Bacon ipsum dolor amet doner ground round chuck capicola picanha turducken</p>
		<ul>
			<li>Meatloaf doner flank andouille meatball.</li>
			<li>Porchetta doner ball tip leberkas, beef cupim bresaola turkey shank venison salami fatback alcatra shankle.</li>
			<li>Pastrami capicola rump, andouille strip steak sirloin buffalo burgdoggen ball tip.</li>
		</ul>
	</div>
	<div class="col-md-8">
		<%= render partial: 'form', locals: { topic: @topic, wiki: @wiki } %>
	</div>
</div>
